.myClass{
  width: 36px;
  height: 36px;
  background-color: #fff;
  clip-path:
        polygon(50% 0%, 50% 9.58%, 62.49% 11.56%, 65.45% 2.45%, 79.39% 9.55%, 73.76% 17.30%, 82.70% 26.24%, 90.45% 20.61%, 97.55% 34.55%, 88.44% 37.51%, 90.42% 50%, 100% 50%, 97.55% 65.45%, 88.44% 62.49%, 82.70% 73.76%, 90.45% 79.39%, 79.39% 90.45%, 73.76% 82.70%, 62.49% 88.44%, 65.45% 97.55%, 50% 100%, 50% 90.42%, 37.51% 88.44%, 34.55% 97.55%, 20.61% 90.45%, 26.24% 82.70%, 17.30% 73.76%, 9.55% 79.39%, 2.45% 65.45%, 11.56% 62.49%, 9.58% 50%, 0% 50%, 2.45% 34.55%, 11.56% 37.51%, 17.30% 26.24%, 9.55% 20.61%, 20.61% 9.55%, 26.24% 17.30%, 37.51% 11.56%, 34.55% 2.45%);
    mask:
        radial-gradient(circle 8px at 50% 50%,#0000 97%,#000) 0 0;
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 4s linear infinite;
}
@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
